<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%= pageTitle %></title>
    <meta name="description"
        content="Play ludo online for free. Different vs modes - computer, local multiplayer, online multiplayer or with friends">
    <link rel="canonical" href="https://ludogame.io/">
    <meta name="robots" content="index, follow">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">

    <meta property="og:title" content="<%= pageTitle %>" />
    <meta property="og:description" content="Play ludo online for free. Different vs modes - computer, local multiplayer, online multiplayer or with friends" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ludogame.io/" />
    <meta property="og:image" content="/img/og-image.png" />



    <meta name="theme-color" content="#4C1686">

    <link rel="stylesheet" href="/css/index.css">