<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ludogame.io - Privacy Policy</title>
    <meta name="description"
        content="Play ludo online for free. Different vs modes - computer, local multiplayer, online multiplayer or with friends">
    <link rel="canonical" href="https://ludogame.io/">
    <meta name="robots" content="index, follow">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">

    <meta property="og:title" content="Ludogame.io - Privacy Policy" />
    <meta property="og:description" content="Play ludo online for free. Different vs modes - computer, local multiplayer, online multiplayer or with friends" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ludogame.io/" />
    <meta property="og:image" content="/img/og-image.png" />

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        body,
        html {
            background-image: radial-gradient(rgb(132, 40, 231), rgb(42, 11, 75));
        }

        h2,
        h3,
        span {
            font-weight: 500;
            font-size: 1.2em;
            color: rgb(152, 0, 254);
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 0.8em;
        }

        hr {
            border: 1px solid rgb(152, 0, 254);
        }

        .privacy-container {
            width: 70%;
            margin: 0 auto;
            margin-top: 1em;
            line-height: 1.62222;
        }

        .privacy-wrapper {
            margin-top: 2em;
            justify-content: center;
            padding: 1em 3em;
            background-color: white;
            border-radius: 0.3em;
            border: none;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.164);
            margin-bottom: 2em;
        }

        .privacy-types {
            justify-content: center;
        }

        @media screen and (max-width: 800px) {
            .privacy-container {
                width: 90%;
            }

            .privacy-wrapper {
                margin-top: 1em;
                padding: 1em 2em;
            }


        }
    </style>
</head>

<body>
    <div class="privacy-container">
        <div class="privacy-wrapper">
            <h2>Privacy Policy</h2>
            <hr>
            <div class="privacy-types">
                <p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure
                    of Personal Information if anyone decided to use our Service.
                    <br>
                    If you choose to use our Service, then you agree to the collection and use of information in
                    relation to this policy.
                    We will not use or share your information with anyone except as described in
                    this Privacy Policy.
                    <br>
                    None of this
                    information is associated with any identified person at the time it is
                    collected, but it could potentially be tied to you somehow if we are required to disclose our server
                    logs or other legal process.
                </p>
                <h2>Cookies</h2>
                <p>Cookies are small pieces of data stored on your device (computer, tablets or mobile devices).
                </p>
                <h2>Links to Other Sites</h2>
                <p>This Service may contain links to other sites. If you click on a third-party link, you will be
                    directed to that site. Note that these external sites are not operated by us. Therefore, we strongly
                    advise you to review the Privacy Policy of these websites. We have no control over and assume no
                    responsibility for the content, privacy policies, or practices of any third-party sites or services.
                </p>
                <h2>Information Collection And Use</h2>
                <p>We collect several different types of information for various purposes to provide and improve our
                    Service
                    to you, we never misuse your personal information to third-party clients.
                </p>
                <div class="privacy-types">
                    <h3>Changes to This Privacy Policy</h3>
                    <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page
                        periodically for any changes. We will notify you of any changes by posting the new Privacy
                        Policy on this page. These changes are effective immediately after they are posted on this page.
                    </p>
                    <h3>Cookies and Usage Data</h3>
                    <p>We may use your Personal Data to contact you with newsletters, marketing or promotional materials
                        and
                        other information that may be of interest to you. You may opt-out of receiving any, or all, of
                        these
                        communications from us by following the unsubscribe link or instructions provided in any email
                        we
                        send.</p>
                </div>
                <div class="privacy-types">
                    <h2>Use Of Data</h2>
                    <p>We collect data for various purposes:</p>
                    <ul>
                        <li>To provide and maintain our Service.</li>
                        <li>To provide customer support.</li>
                        <li>To notify you about changes to our Service.</li>
                        <li>To gather analysis or valuable information so that we can improve our Service.</li>
                        <li>To monitor the usage of our Service.</li>
                        <li>To detect, prevent and address technical issues.</li>
                    </ul>
                    <div class="privacy-types">
                        <h2>Contact Us</h2>
                        <p>If you have any questions about this Privacy Policy, please contact us:</p>
                        <ul>
                            <li>By email: <span>contact@ludogame.io</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>